<h1 class="h3 mb-0 text-gray-800">Perfil de usuario</h1>
<div class="row mt-5 contenedor">
  <!-- Area Chart -->
  <div class="col-md-6 col-lg-6">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">
          Informacion de usuario
        </h6>
      </div>
      <!-- Card Body -->
      <form 
       class="form" 
       [formGroup]="perfilForm"
       (submit)="actualizarPerfil()">

        <div class="card-body">

            <h2 class="text-xs font-weight-bold text-primary text-uppercase">Nombre</h2>
            
            <div class="input-group mb-4 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-user fa-sm fa-fw"></i>
                </div>
              </div>
              <input
                type="text"
                class="form-control"
                id="inlineFormInputGroupUsername1"
                placeholder="Nombre del usuario"
                formControlName="nombre"
              />
            </div>

          <h2 class="text-xs font-weight-bold text-primary text-uppercase">Correo</h2>  
          <div class="input-group mb-5 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-envelope fa-fw"></i>
              </div>
            </div>
            <input
              type="text"
              class="form-control"
              id="inlineFormInputGroupUsername2"
              placeholder="Email del usuario"
              formControlName="email"
              [readOnly]="usuario.google"
            />
          </div>


          <button type="submit" class="btn btn-success btn-block mb-2" [disabled]="perfilForm.invalid">
            <i class="fas fa-save fa-fw"></i>  Guardar datos
          </button>
        </div>
      </form>
    </div>
  </div>
 
  <!-- avatar section -->
  <div class="col-md-6 col-lg-6">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Avatar</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <h2 class="text-xs font-weight-bold text-primary text-uppercase">Imagen del usuario</h2>

       <div class="form-group my-4 text-center">
            <img 
             *ngIf="!imgTemp"
             [src]="usuario.imagenUrl" 
             alt="Avatar de {{usuario.nombre}}" 
             class="img-avatar mb-4"
             referrerpolicy="no-referrer">

             <img 
              *ngIf="imgTemp" 
              [src]="imgTemp" 
              alt="Nueva imagen" 
              class="img-avatar mb-4">
        </div>
            <input type="file" title="Subir imagen" (change)="cambiarImagen($event)">
        

        <button 
         type="button" 
         class="btn btn-success btn-block my-4" 
         [disabled]="!imagenSubir"
         (click)="subirImagen()">
            <i class="fas fa-save fa-fw"></i> Cambiar imagen
        </button>
      </div>
    </div>
  </div>
</div>
